body {
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
}

.container {
  width: 100%;
  height: 80%;
}

#sketch {
  min-width: 900px;
  margin: 5%;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

#sketch div {
  height: 15px;
}

button.cell {
  height: 15px;
  width: 15px;
  border: 0.3px solid white;
}

button.cell.selected {
  border: 0.3px solid rgb(53, 53, 53);
}

button.cell:hover,
button.cell:active {
  border: 0.5px solid #c4c4c4;
}

button.start {
  background-color: #469c8e;
  border: 0.3px solid #469c8e;
}

button.end {
  background-color: #d1637e;
  border: 0.3px solid #d1637e;
}

button.path {
  background-color: #b6e9d8;
  border: 0.3px solid #b6e9d8;
}

#search-route {
  cursor: pointer;
  background-color: mediumturquoise;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 5rem;
  border-radius: 25px;
  z-index: 1;
}

#search-route:hover {
  background-color: rgb(63, 189, 185);
}

#search-route:active {
  background-color: rgb(89, 216, 212);
}

/* header bar */
header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background: linear-gradient(to bottom, white 60%, #ffffff80 80%, transparent);
  padding-bottom: 3rem;
}

header img {
  cursor: pointer;
  height: 1.8rem;
  padding-top: 2.1rem;
  padding-right: 1.7rem;
}

header div.info {
  width: inherit;
  height: auto;
  padding: 1.5rem 1.7rem;
}

header h1.title {
  margin: 0;
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
}

header p.desc {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #525252;
}

div.card {
  width: -webkit-fill-available;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 20px 12px rgba(21, 19, 19, .07);
}

div.card div.item {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 20px 6px rgba(21, 19, 19, .07);
}

div.card div.item:first-child {
  margin-bottom: 0.7rem;
}

div.card h1.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

div.item {
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}

div.item div.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
}

div.item img {
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

div.info h2.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

div.info figure.circle {
  margin: 0;
  display: inline-block;
  background-color: #F56C6C;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  vertical-align: text-top;
}

div.info span.hours {
  font-size: 0.9rem;
  font-weight: 700;
  color: #A7A7A7;
}

div.info span.location {
  font-size: 0.9rem;
  font-weight: 700;
  color: #707070;
}
