html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(240, 240, 240);
}

button:focus,
button:active {
  outline: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 100%;
  width: 450px;
  border: none;
  background-color: rgb(230, 230, 230);
  box-shadow: 15px 19px 32px -18px rgba(21, 19, 19, .07);
}

@media (max-width: 450px) {
  iframe {
    width: 100%;
  }
}

/* iframe 옆에 있는 버튼 리모컨 */

div.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media (max-width: 650px) {
  div.buttons {
    display: none;
  }
}

div.buttons button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 0.3s ease;
}

div.buttons button#admin {
  background-color: #c5c5c5;
}

div.buttons button#admin:hover {
  background-color: #b6b6b6;
}

div.buttons img {
  height: 2.2rem;
  width: 2.2rem;
}
