.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
}

button.cell {
  border: none;
}

button.cell:hover,
button.cell:active {
  border: 0.5px solid #c4c4c4;
}

button.start {
  background-color: #469c8e;
  border: 0.3px solid #469c8e;
}

button.end {
  background-color: #d1637e;
  border: 0.3px solid #d1637e;
}

button.path {
  background-color: #b6e9d8;
  border: 0.3px solid #b6e9d8;
}

#search-route {
  cursor: pointer;
  background-color: mediumturquoise;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 5rem;
  border-radius: 25px;
}

#search-route:hover {
  background-color: rgb(63, 189, 185);
}

#search-route:active {
  background-color: rgb(89, 216, 212);
}
