body {
  margin: 0;
  overflow-x: hidden;
  background-color: #45ba9b;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

div.content {
  padding: 2.8rem;
}

div.content h1.title {
  color: white;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0;
}

div.content p.desc {
  color: white;
  font-size: 1rem;
  margin-top: 0.8rem;
}

/* QR 코드 찍는 카메라 */

div.camera-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

div.camera-wrap {
  margin-top: 2rem;
  position: relative;
}

div.camera-wrap img,
video#camera {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem;
}

video#camera {
  object-fit: cover;
  position: relative;
}

/* 하단 버튼 */

div.buttons {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
}

div.buttons button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}

div.buttons button:focus,
div.buttons button:active {
  outline: none;
}

div.buttons button:last-child {
  font-weight: 700;
  margin-top: 0.5rem;
}

div.buttons span {
  color: white;
  font-size: 1.4rem;
}

div.buttons img {
  height: 1.8rem;
  width: 1.8rem;
  margin-left: 0.5rem;
}
