/* 하단 대시보드 */

a {
  text-decoration: none;
  color: inherit;
}

div.card {
  width: -webkit-fill-available;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 20px 12px rgba(21, 19, 19, .07);
}

div.card a.item {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 20px 6px rgba(21, 19, 19, .07);
}

div.card a.item:first-child {
  margin-bottom: 0.7rem;
}

div.card h1.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

a.item {
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}

a.item div.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
}

a.item img {
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

div.info h2.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 800;
}

div.info figure.circle {
  margin: 0;
  display: inline-block;
  background-color: #F56C6C;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  vertical-align: text-top;
}

div.info span.hours {
  font-size: 0.9rem;
  font-weight: 700;
  color: #A7A7A7;
}

div.info span.location {
  font-size: 0.9rem;
  font-weight: 700;
  color: #707070;
}

@media (max-width: 438px) {
  div.info span.meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  div.info h2.title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  div.info figure.circle {
    margin-right: 3px;
  }

  div.info span.hours,
  div.info span.location {
    font-size: 0.8rem;
  }
}
