/* header bar */

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: linear-gradient(to bottom, white 60%, #ffffff80 80%, transparent);
  padding-bottom: 3rem;
}

header img {
  cursor: pointer;
  height: 1.8rem;
  margin-bottom: 0.2rem;
}

header div.wrap {
  padding: 1.5rem 1.7rem;
}

header div.top {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1.title {
  margin: 0;
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 800;
}

header p.desc {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #525252;
}

header span.header-bar {
  display: flex;
  width: fit-content;
  border-radius: 25px;
  margin-top: 0.8rem;
}

header span.header-level {
  background-color: white;
  border: 1px solid #dee2e6;
  border-left: none;
  padding: 0.1rem 1rem;
  color: #525252;
  font-weight: 900;
  font-size: 1.1rem;
  cursor: pointer;
}

header span.header-level.selected {
  background-color: #000000;
  border: 1px solid #3a3a3a;
  color: white;
}

header span.header-level:first-child {
  border-left: 1px solid #dee2e6;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 1.3rem;
}

header span.header-level:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 1.3rem;
}

header span.header-level:hover {
  background-color: #fafafa;
}
