/* header bar */

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: linear-gradient(to bottom, white 60%, #ffffff80 80%, transparent);
  padding-bottom: 3rem;
}

header img {
  cursor: pointer;
  height: 1.8rem;
  margin-bottom: 0.2rem;
}

header div.wrap {
  padding: 1.5rem 1.7rem;
}

header div.top {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1.title {
  margin: 0;
  margin-bottom: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
}

header p.desc {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #525252;
}
