* {
  font-family: 'Noto Sans KR', sans-serif;
}

button.domain {
  background-color: #bbe6d7;
  border: 0.3px solid #a9ddcb !important;
}

button.start,
button.end {
  background-color: #a1d6c4;
  border: 0.3px solid #a9ddcb;
}

/* 라벨 */

div.label {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #dee2e6;
  background-color: white;
  box-shadow: 0 0 20px 6px rgba(21, 19, 19, .07);
}

div.label.hovered {
  z-index: 1;
}

div.label div.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

div.label div.name span {
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem;
}

div.label div.name img {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.5rem;
}

div.label button.delete {
  cursor: pointer;
  position: absolute;
  left: -1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 25px;
  border: 1px solid #c92a2a;
  background-color: #fa5252;
}

div.label img.cancel {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}

div.label input {
  font-size: 1rem;
  margin: 0.3rem 0.8rem;
  margin-right: 0;
  width: 100px;
  border: none;
  border-bottom: 1.5px solid lightgray;
}

div.label input:active,
div.label input:focus {
  outline: none;
  border-bottom: 1.5px solid #3fbdb9;
}
