body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sketch-wrap {
  margin: 1.2rem 0;
  min-width: 1200px;
  min-height: 600px;
}

#sketch div {
  flex-direction: row;
  height: 20px;
}

button {
  box-sizing: border-box;
}

button.cell {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 0.3px solid rgb(240, 240, 240);
}

button:focus,
button:active {
  outline: none;
}

button.selected {
  background-color: rgb(53, 53, 53);
  border: 0.3px solid rgb(77, 77, 77);
}

div.button-row {
  margin-bottom: 1rem;
}

#load {
  cursor: pointer;
  background-color: gray;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 5rem;
  margin-right: 0.3rem;
  border-radius: 25px;
}

#load:hover {
  background-color: rgb(151, 151, 151);
}

#load:active {
  background-color: rgb(112, 112, 112);
}

#save {
  cursor: pointer;
  background-color: mediumturquoise;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 5rem;
  border-radius: 25px;
}

#save:hover {
  background-color: rgb(63, 189, 185);
}

#save:active {
  background-color: rgb(89, 216, 212);
}

code {
  width: min-content;
}
