body {
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 (검색창) */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.8rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 20px 12px rgba(21, 19, 19, .07);
}

header img {
  height: 1.5rem;
}

header input {
  width: 336px;
  font-size: 1.2rem;
  padding: 0.4rem 0.3rem;
  border: none;
  border-color: transparent;
  transition: border-color 0.5s ease;
}

@media (max-width: 438px) {
  header input {
    width: 264px;
  }
}

header input:focus,
header input:active {
  outline: none;
  border-bottom: 3px solid #3fbdb9;
}
